* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu Condensed', sans-serif;
}

body {
  
  background-color: black;
  
}

/* Set tesseract to the right side of the body */

.video-background {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-5%, -58%);
  min-height: 50%;
  min-width: 50%;
  z-index: -1;
  zoom: 35%;
  
}

/* Customize the register form */

.container {
  background-color: transparent;
  color: #19c0d6;
  border-radius: 7px;
  box-shadow: 0 7px 49px #19c0d6;
  margin-top: 100px;
  margin-left: 100px;
  overflow: hidden;
  width: 800px;
  
}

.header {
  background-color: transparent;
  border-bottom: 1px solid #19c0d6;
  padding: 25px 75px;
  word-spacing: 3px;
}

.header h2 {
  display: flex;
  justify-content: center;
  
}

.register {

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 30px 40px;
}

.input-container {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.input-container label {

  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
  
}

.input-container input {
  
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;;
  width: 100%;
}

  /* &.valid {
  color: #44E444;
  
  }
  &.invalid {
  color: #FF0000;
  } */



/* Validations for error / success messages on input fields*/

.input-container .success input {

  border-color: #2ecc71;
  
}

.input-container .error input {

  border-color: #e74c3c;
  
}

.input-container  i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}

.input-container.success i.fa-check-circle {
  
  color: #2ecc71;
  visibility: visible;

}

.input-container.error i.fa-times-circle {
  
  color: #e74c3c;
  visibility: visible;
  
}


.input-container small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.input-container.error small {
  color: #e74c3c;
  visibility: visible;
}

/* Validations for error / success text messages */

.register-error-message {

  height: 45px;
  line-height: 45px;
  background: #e74c3c;
  padding: 0 15px;
  border-radius: 5px;
  display: none;

}

.register-error-message-active {
  
  display: block;

}

.register-error-message p {

  color: black;
  font-size: 18px;

}

.register-success-message  {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  color: #2ecc71;
  margin-top: 20px;
  display: none;

}

.register-success-message-active {
  position: absolute;
  margin-bottom: 10px;
  display: block;

}

.redirect {

  margin-top: 20px;
  gap: 10px;
  
}

a {

  color: #19c0d6;
  text-decoration: none;

}

.register button {

  background-color: rgba(14, 28, 151, 0.6);
  border: 2px solid rgba(14, 28, 151, 0.6);
  border-radius: 5px;
  color: #f0f0f0;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  margin-top: 26px;

}

.messages {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

}

.messages .success {

  font-size: 18px;
  color: #2ecc71;
  margin-top: 20px;
  position: absolute;
  animation: buttons .3s linear;
  display: none;

}

.messages .danger {
  
  font-size: 18px;
  color: #e74c3c;
  margin-top: 20px;
  position: absolute;
  transition: .3s;
  animation: buttons .3s linear;
  display: none;

}

@keyframes buttons{
    0% {
      transform: scale(0.1);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
}

/* Mediaqueries */

@media screen and (max-width: 768px) {
  .register {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }

  .video-background {

    margin-top: 100px;
    margin-left: 50px;
    transform: translate(-50%, -50%);
    width: 100%;
  }

}

