body {

  text-align: center;
  background-color: rgb(12, 12, 12);

}

button {

  background-color: red;
  color: black;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 100px;
  

}

div {

  color: wheat;
  display: inline-block;

}

#table {

  display: block;
  margin-top: 30px;

}

th,td {

  border: 1px solid rgb(47, 84, 151);
  padding: 5px;

}
